*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

.wrapper{
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a{
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: courier;
    color: #5e454b;
}

.menu {
    float: right;
}

nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #ffffff;
    z-index: 1;
    border-bottom: 1px solid #5e454b;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li{
    float: left;
}

nav ul li a{
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}

section{
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.column{
    margin-top: 50px;
    margin-bottom: 50px;
}

.column .desc{
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #5e454b;
}

h2{
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #5e454b;
    width: 100%;
    line-height: 50px;
}

a.bluebttn{
    background: #6886C5;
    border-radius: 15px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

a.bluebttn:hover{
    background: #E36387;
    text-decoration: none;
}

a.pinkbttn{
    background: #E36387;
    border-radius: 15px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

a.pinkbttn:hover{
    background: #6886C5;
    text-decoration: none;
}

p{
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.centre{
    text-align: center;
    width: 100%;
}

.partner-list{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.partner-card{
    width: 20%;
    margin: 0 auto;
}

.partner-card img{
    width: 80%;
    border-radius: 50%;
}

.partner-card p{
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #5e454b;
}

#contacts{
    background: #dedede;
    padding: 50px 0px 50px 0px;
}

.footer{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section{
    width: 20%;
    margin: 0 auto;
}

h3{
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #5e454b;
    width: 100%;
    line-height: 50px;
}

#copyright{
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
}

@media screen and (max-width: 991.98px) {
    .wrapper{
        width: 90%;
    }
    .logo a{
        display: block;
        width: 100%;
        text-align: center;
    }

    nav .menu{
        width: 100%;
        margin: 0;
    }

    nav .menu ul{
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    nav .menu ul li{
        display: inline-block;
        float: none;
    }

    section{
        display: block;
    }

    section img{
        display: block;
        width: 100%;
        height: auto;
    }

    .partner-card{
        width: 50%;
    }
}